<a href="https://colab.research.google.com/github/Deanne-Blair/Sales_Predictions/blob/main/Renaming%2C_Deleting%2C_%26_Missing_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Renaming, Deleting, & Missing Data
- Deanne Blair
- October 20, 2022

In [1]:
import pandas as pd

In [5]:
bike_df = pd.read_excel('/RailsToTrails_National Count Data_week.xlsx')
df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602,NaN,NaN,NaN

##Delete the unnecessary columns:
- 1. Unnamed: 7
- 2. Unnamed: 8
- 3. Unnamed: 9

In [6]:
bike_df.drop(columns=['Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'], inplace = True)
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602

##Rename the Unnamed: 6 column to percent_change.

In [8]:
bike_df = bike_df.rename(columns={'Unnamed: 6': 'Percent_Change'})

bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Percent_Change
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602

##How many missing values are in the dataset? Which columns are they in?

In [11]:
bike_df.isna().sum()

Timeframe                      0
Week of                        0
 2019 counts (31 counters)     0
 2020 counts (31 counters)     0
2021 Counts                   52
Change 2019-2020               0
Percent_Change                 0
dtype: int64

###52 missing values in column '2021 Counts'

---

##Fill all missing values in the 2021 Counts column with 0.

In [17]:
bike_df['2021 Counts'].fillna('0', inplace=True)
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Percent_Change
0,Week 1,2020-12-30,167679.0,183546.0,0,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,0,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,0,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,0,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,0,0.249166,124.916602

##Optional/Bonus: There is a challenging but common issue in the name for the 2019 counts column. Can you find it? If so, Rename the 2019 counts (31 counters) column to "counts_2019" (a more Pythonic column name).

In [22]:
bike_df = bike_df.rename(columns={'2019_counts': 'Counts_2019'})

bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Percent_Change
0,Week 1,2020-12-30,167679.0,183546.0,0,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,0,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,0,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,0,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,0,0.249166,124.916602